@import url("css/fonts.css");

html {
  scroll-behavior: smooth;
}

body {
  color: #1c252b;
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  line-height: 27px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
}
* {
  margin: 0;
  padding: 0;
}

/*------------------------------------------------------------------
    CONTAINER
-------------------------------------------------------------------*/

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header {
  display: flex;
  align-items: center;
}

.container-title {
  flex: 1;
  font-family: "Inter-Medium", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.05em;
  text-align: left;
}

.container-text {
  flex: 1;
  text-align: right;
  font-size: 16px;
  color: #a3a7a9;
}

/* .navbar.active {
  display: block;
} */
/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
.header {
  color: #000000;
  padding: 10px 40px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  box-sizing: border-box;
}
.desktop-header {
  display: block;
}
.mobile-header {
  display: none;
}
.mobile-nav-toggle {
  display: none;
}
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fluid-header {
  display: flex;
  align-items: center;
}
/* .left-header,
.right-header {
  width: 50%;
  box-sizing: border-box;
} */
.right-header {
  margin-left: auto;
}
.busket {
  margin-right: 15px;
  transition: color 0.3s ease;
}

.busket img {
  width: 50px;
  height: 50px;
}
.left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-right: 20px;
}
.navbar {
  display: flex;

  padding-left: 20px;
}
.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  text-decoration: none;
  letter-spacing: -0.05em;
  text-align: left;
  transition: color 0.3s ease;
}
.navbar a:hover,
.phone:hover {
  color: #2f9ea5;
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 40px;
}
.contacts {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  margin-right: 20px;
}

/* .contact-info > * {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  margin-left: 20px;
} */
.email {
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #2f9ea5;
  text-decoration: none;
  transition: color 0.3s ease;
}

.phone {
  font-size: 24px;
  font-weight: 500;
  line-height: 26.4px;
  letter-spacing: -0.05em;
  text-decoration: none;
  text-align: left;
  color: #1c252b;
  transition: color 0.3s ease;
}
.email:hover {
  color: rgba(47, 158, 165, 0.7);
}

/*------------------------------------------------------------------
    BANNER
-------------------------------------------------------------------*/
.banner {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  border-radius: 16px;
  background-color: #2f9ea50d;
}
.banner-container {
  display: flex;

  margin-top: -60px;
}
.left-banner {
  display: flex;
  margin-top: 50px;
}
.group1 img,
.group2 img {
  max-width: 100%;
  height: auto;
}
.text-area-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.banner-upper-title {
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  color: #2f9ea5;
  text-align: left;
}
.banner-title {
  font-family: "Inter-Medium", sans-serif;
  font-size: 54px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: -0.05em;
}

.banner-text {
  max-width: 600px;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

.button {
  position: absolute;
  width: 277px;
  height: 60px;
  left: 320px;
  top: 523px;
  background: #1c252b;
  border-radius: 60px;
}

.banner-link {
  background-color: #1c252b;
  border-radius: 30px;
  padding: 5px;
}
.banner-link a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
.banner-button {
  padding: 0 40px;
}

/*------------------------------------------------------------------
    SIZES
-------------------------------------------------------------------*/
.sizes {
  margin-top: 100px;
}

.sizes-main {
  padding-top: 50px;
}
.sizes-main img {
  width: 100%;
}
.mobile {
  display: none;
}
/*------------------------------------------------------------------
    CATALOG
-------------------------------------------------------------------*/
.catalog {
  margin-top: 100px;
}
.catalog-main {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.catalog-left-card,
.catalog-right-card {
  display: flex;
  flex: 1 0 calc(50% - 15px); /* ширина карточки с учетом промежутков между ними */
  justify-content: center;
  box-sizing: border-box;
  margin-top: 30px;
}
.catalog-left-card {
  margin-right: 15px;
  border-radius: 16px;
  background: #f9f9f9;
}
.catalog-right-card {
  background: #f0f1f1;
  border-radius: 16px;
  margin-left: 15px;
}
.img-left-card {
  padding: 50px;
}
.inner-left-card {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
}
.card-price {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.toptext-card span {
  align-self: flex-start;
  background: rgba(47, 158, 165, 0.1);
  border-radius: 8px;
  padding: 10px;
  margin: 0 5px;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #2f9ea5;
}
.title-card {
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.05em;
  text-align: left;
  max-width: 250px;
}
.price {
  display: flex;
  flex-direction: column;
}
.price-text {
  font-size: 16px;
  color: #a3a7a9;
}
.price-count {
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #2f9ea5;
}
.count {
  display: flex;
  background: #1c252b;
  border-radius: 60px;
  line-height: 10px;
  margin-left: 20px;
}
.count span {
  align-items: center;
  display: flex;
  color: #fefefe;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 25px;
}
.add-basket {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
  line-height: 0px;
}
.add-basket img {
  padding-right: 10px;
}
.add-basket span {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.img-right-card {
  padding: 50px;
}

.shopping-card {
  background: #2f9ea5;
  color: #fefefe;
  border-radius: 16px;
  margin-left: 15px;
}
.shopping-topptext {
  display: flex;
  flex-wrap: wrap;
}
.shopping-topptext span {
  color: #fefefe;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 5px;
}
.price-shopping-card {
  color: #fefefe;
}

/*------------------------------------------------------------------
    PORTFOLIO
-------------------------------------------------------------------*/

.portfolio {
  margin-top: 100px;
}
/*------------------------------------------------------------------
    SLIDER
-------------------------------------------------------------------*/
.slider-container {
  padding-top: 50px;
  max-width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: auto;
}

.info {
  margin-top: 100px;
}
.card-img-portf {
  font-size: 16px;
}
.card-title-portf {
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #1c252b;
  padding: 40px 0;
}
.card-text-portf {
  text-align: left;
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-card {
  flex-basis: calc(50% - 80px);
  margin: 10px;
  text-align: left;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 16px;
}

/*------------------------------------------------------------------
    SERVICES
-------------------------------------------------------------------*/
.service-first-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.service-first-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #f9fcfc;
  border-radius: 16px;
  z-index: -10;
}
.service-first-img img {
  max-width: 100%;
  height: auto;
}
.service-text {
  flex: 1;

  justify-content: end;
  padding: 0;
}
.service-text-list {
  padding: 30px;
  background-color: #f9fcfc;
  border-radius: 16px;
  max-width: 50%;
  margin-right: 20px;
}
.service-link {
  margin-top: 30px;
}

.services {
  margin-top: 100px;
  background-color: #f3f9f9;
  border-radius: 16px;
  z-index: 1;
}
.servcice-container {
  margin-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.list-services ul {
  padding-left: 0;
}

.list-services li {
  margin-bottom: 15px;
}

.list-services span.blue {
  font-size: 16px;
  font-weight: 500;
  color: #2f9ea5;
}
.second-service-text {
  margin-top: 30px;
}
.service-second-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
}

.services {
  position: relative;
}

.ball {
  position: absolute;
  z-index: -1;
}
.ball img {
  max-width: 100%;
  height: auto;
}
.service-container-text {
  max-width: 400px;
}

.delivery {
  margin-top: 100px;
}

/*------------------------------------------------------------------
    DELIVERY
-------------------------------------------------------------------*/
.delivery-inner {
  margin-top: 20px;
}
.delivery-list {
  margin-top: 30px;
}
.delivery-title {
  font-family: "Inter-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.05em;
  padding: 30px 0;
  color: #1c252b;
}
.list-title {
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #1c252b;
  margin-bottom: 20px;
}

.delivery-list-text ul li {
  font-size: 18px;
  margin-bottom: 15px;
}

/*------------------------------------------------------------------
    CONTACT
-------------------------------------------------------------------*/

.contact {
  margin-top: 100px;
}
.contact-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.contact-item {
  margin-bottom: 15px;
}
.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  margin-right: 30px;
  background-color: #f9f9f9;
  border-radius: 16px;
}
.contact-name {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #2f9ea5;
  margin-bottom: 15px;
}
.map {
  display: flex;
}
.map img {
  max-width: 100%;
  height: auto;
}
.data {
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: #1c252b;
}

/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/
.footer {
  margin-top: 100px;
  background-color: #1c252b; /* Цвет фона футера */
  color: #fefefe; /* Цвет текста */
}
.container-footer {
  display: flex;
  justify-content: space-between;

  padding: 30px;
}
.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-footer {
  text-align: right;
}
.description-footer {
  display: flex;
}
.right {
  flex-direction: column;
  text-align: right;
}

.text-footer {
  text-align: left;
  margin-left: 20px;
  max-width: 400px;
}
.allrights {
  color: #a3a7a9;
}
.footer-contact {
  margin-bottom: 20px;
}
.footer-number {
  font-size: 24px;
}
.footer-address {
  font-size: 16px;
}
.container-footer.mobile {
  display: none;
}

/*------------------------------------------------------------------
    POPUP
-------------------------------------------------------------------*/

#popup-window-basket {
  position: fixed;
  max-width: 80%;
  height: fit-content;
  background: #fefefe;
  border-radius: 16px;
  padding: 30px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: none;
  z-index: 2000;
}

.popup-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-head h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.05em;
}
.close-button {
  cursor: pointer;
}
.img-product img {
  width: 100px;
  height: auto;
}
.popup {
  align-self: center;
}
.popup-product {
  display: flex;
  justify-content: space-between;

  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 15px;
  margin-bottom: 15px;
}
.title-card-popup {
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.05em;
}
.delete-product {
  cursor: pointer;
}
.delete-product img {
  width: 45px;
  height: 45px;
}

.order-popup {
  display: flex;
  justify-content: end;
}
.sum-price {
  margin-right: 20px;
}
